---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="hero">
    <h1>hi, hello.</h1>
    <ul>
      <li>this is the about page.</li>
      <li>test, test.</li>
    </ul>
  </section>
</Layout>

<style></style>
