---
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import data from "../data/data.json";
---

<Layout title="Astro Components">
  <h1>Astro Components</h1>
  <div class="flex gap-4">
    {data.map((card) => <Card data={card} />)}
  </div>
  <Button isBordered={true} background="ffaaff">Btn Text</Button>
</Layout>
