---
import Card from "../components/Card.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import data from "../data/data.json";
---

<Layout title="ass man">
  <body>
    {data.map((card) => <Card data={card} />)}
  </body>
  <!-- <Welcome /> -->
</Layout>
