---
// const { background = "var(--surface-2)", color = "#fff" } = Astro.props;
---

<button class:list={["btn"]}>
  <slot />
</button>

<style>
  .btn {
    font: inherit;
    max-width: fit-content;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    cursor: pointer;
    border: none;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    background: var(--background);
    color: var(--color);
  }
</style>
